<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Herbal Cure</title>
  </head>
  <body>
    <% include ./partial/navbar %>
    <div class="min-h-screen">
      <div class="text-center text-2xl my-2"><%= __('nav.dds') %></div>
      <div
        class="mx-2 my-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
      >
        <% for(var i = 0; i < dds.length;i++){%>
        <div class="card bg-base-100 w-full shadow-sm">
          <figure>
            <img
              class="rounded-xl w-full h-48 object-cover"
              src="<%= dds[i].image %>"
              alt="Shoes"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= dds[i].nameMM %></h2>
            <p class="line-clamp-4"><%= dds[i].descriptionMM %></p>
            <div class="card-actions justify-end">
              <a href="/dds/<%= dds[i]._id %>" class="btn btn-primary"
                >See More</a
              >
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <% include ./partial/footer %>
  </body>
</html>
