<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Herbal Cure</title>
  </head>
  <body>
    <% include ./partial/navbar %>
    <div class="min-h-screen">
      <div class="text-center text-2xl my-2"><%= __('nav.hdl') %></div>
      <!-- name of each tab group should be unique -->
      <div class="tabs tabs-lift mx-2 my-9 tabs-lg">
        <input
          type="radio"
          name="my_tabs_3"
          class="tab"
          aria-label="<%= __('hdl.hurt') %>"
        />
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <% if(hurtList.length == 0){%>
          <div class="text-xl">No Hurt List available</div>
          <%}%>
          <div
            class="mx-2 my-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
          >
            <% for(var i = 0; i < hurtList.length; i++){%>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img src="<%= hurtList[i].image %>" alt="Shoes" />
              </figure>
              <div class="card-body">
                <h2 class="card-title"><%= hurtList[i].nameMM %></h2>
                <p><%= hurtList[i].descriptionMM %></p>
                <div class="card-actions justify-end">
                  <a href="/hdl/<%= hurtList[i]._id %>" class="btn btn-primary"
                    >See More</a
                  >
                </div>
              </div>
            </div>
            <%}%>
          </div>
        </div>

        <input
          type="radio"
          name="my_tabs_3"
          class="tab"
          aria-label="<%= __('hdl.disease') %>"
          checked="checked"
        />
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <% if(diseaseList.length == 0){%>
          <div class="text-xl">No Disease List available</div>
          <%}%>
          <div
            class="mx-2 my-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
          >
            <% for(var i = 0; i < diseaseList.length; i++){%>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img src="<%= diseaseList[i].image %>" alt="Shoes" />
              </figure>
              <div class="card-body">
                <h2 class="card-title"><%= diseaseList[i].nameMM %></h2>
                <p><%= diseaseList[i].descriptionMM %></p>
                <div class="card-actions justify-end">
                  <a
                    href="/hdl/<%= diseaseList[i]._id %>"
                    class="btn btn-primary"
                    >See More</a
                  >
                </div>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>
    <% include ./partial/footer %>
  </body>
</html>
