<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Herbal Cure Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="root">
      <div class="drawer lg:drawer-open">
        <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
          <div class="navbar sticky top-0 bg-base-100 z-10 shadow-md">
            <div class="flex-1">
              <label
                for="left-sidebar-drawer"
                class="btn btn-primary drawer-button lg:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-5 inline-block w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  ></path>
                </svg>
              </label>
              <h1 class="text-2xl font-semibold ml-2"></h1>
            </div>
          </div>
          <main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6 bg-base-200">
            <div class="text-3xl text-center my-3">Hurt and Disease List</div>
            <div class="card bg-base-100 shadow-xl">
              <div class="overflow-x-auto">
                <table class="table">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = 0;i < hds.length;i++){%>
                    <tr>
                      <td>
                        <div class="flex items-center gap-3">
                          <div class="avatar">
                            <div class="mask mask-squircle h-12 w-12">
                              <img
                                src="<%= hds[i].image %>"
                                alt="Avatar Tailwind CSS Component"
                              />
                            </div>
                          </div>
                          <div>
                            <div class="font-bold"><%= hds[i].nameEN %></div>
                            <div class="text-sm opacity-50">
                              <%= hds[i].nameMM %>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td><%= hds[i].category %></td>
                      <td>
                        <a
                          href="/admin/hdl/detail/<%= hds[i]._id %>"
                          class="btn btn-primary"
                          >details</a
                        >
                      </td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="h-16"></div>
          </main>
        </div>
        <% include ../../partial/adminDrawer %>
      </div>
    </div>
  </body>
</html>
